#top-text {
  position: absolute;
  font-size: x-large;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

#left-text {
  position: absolute;
  font-size: x-large;
  left: 0;
  top: 50%;
  transform: translate(-50%) rotate(-90deg);
}