<div id="controlPanel">
  <button (click)="this.toggleInput()">Toggle input</button>
  <button (click)="this.toggleOutput()">Toggle output</button>
  <button (click)="this.scrollToTop()">Scroll to top</button>
  <button (click)="this.scrollToBottom()">Scroll to bottom</button>
  <div class="stats">
    <b>Accuracy</b>
    <br>
    <!--{{this.correctCount}} / {{this.totalCount}} ({{this.utils.formatPercent(this.correctCount / this.totalCount)}})-->
    <span>{{this.correctCount}} / {{this.totalCount}} ({{this.Utils.formatPercent(this.correctCount / this.totalCount)}})</span>
  </div>
</div>
<sketchpad-component
  [onUpdate]="{{this.onUpdate}}"
  id="sketchpad">
  <div slot="header" id="predictedLabel" style="color: white; font-size: 30px; outline: initial;">Header</div>
</sketchpad-component>
<chart-component
  id="chart"
  [options]="{{this.chartOptions}}"
  [clickchart]="{{this.handleClick}}"
  [samples]="{{this.trainingSamples}}">
</chart-component>
<confusion-component
  id="confusion"
  [options]="{{this.confusionOptions}}"
  [samples]="{{this.testingSamples}}"
  [classes]="this.Utils.classes"
  >
</confusion-component>
<div id="container"></div>